/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        primario {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Principal";
            bindings = <
&kp TILDE     &kp N1  &kp N2  &kp N3              &kp N4           &kp N5                    &kp N6     &kp N7     &kp N8         &kp N9   &kp N0    &kp EQUAL
&kp CAPS      &kp Q   &kp W   &kp E               &kp R            &kp T                     &kp Y      &kp U      &kp I          &kp O    &kp P     &kp MINUS
&kp LEFT_ALT  &kp A   &kp S   &kp D               &kp F            &kp G                     &kp H      &kp J      &kp K          &kp L    &kp SEMI  &kp SQT
&kp LCTRL     &kp Z   &kp X   &kp C               &kp V            &kp B   &trans    &trans  &kp N      &kp M      &kp COMMA      &kp DOT  &kp FSLH  &kp BACKSLASH
                              &mt LEFT_SHIFT TAB  &mt LGUI ESCAPE  &tog 1  &trans    &trans  &kp SPACE  &kp ENTER  &kp BACKSPACE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_1 {
            bindings = <
&kp F1  &kp F2            &kp F3             &kp F4           &kp F5  &kp F6                    &kp F7            &kp F8          &kp F9           &kp F10            &kp F11  &kp F12
&trans  &kp K_PLAY_PAUSE  &kp K_PREVIOUS     &kp K_NEXT       &trans  &trans                    &kp LEFT_BRACKET  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &trans   &trans
&trans  &trans            &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &trans  &trans                    &kp LEFT          &kp DOWN_ARROW  &kp UP_ARROW     &kp RIGHT          &trans   &trans
&trans  &trans            &trans             &trans           &trans  &trans  &trans    &trans  &trans            &trans          &trans           &trans             &trans   &trans
                                             &trans           &trans  &trans  &trans    &trans  &trans            &trans          &trans
            >;
        };
    };
};
